* {
  font-family: "Space Grotesk", sans-serif;
  overflow: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#root {
  .App {
    animation: fade-in 2s;

    margin-top: 120px;
    padding: 0 100px;
    @media (max-width: 450px) {
      padding: 0 50px;
    }

    h1 {
      font-size: 50px;
      @media (max-width: 820px) {
        font-size: 50px !important;
      }
      @media (max-width: 700px) {
        font-size: 40px !important;
      }
      @media (max-width: 550px) {
        font-size: 20px !important;
      }

      @media (max-width: 400px) {
        font-size: 20px !important;
        margin-left: 20px !important;
      }
      @media (max-width: 300px) {
        font-size: 13px !important;
        margin-left: 20px !important;
      }
    }

    .app__img {
      display: flex;
      position: relative;

      justify-content: center;
      margin: 0 auto;
      max-width: 840px;

      // max-width: 1100px;
      .logo {
        //   width: 81%;

        margin-right: 20px;
        @media (max-width: 550px) {
          width: 600px;
        }
        @media (max-width: 450px) {
          width: 500px;
        }
        @media (max-width: 350px) {
          width: 400px;
        }
      }

      .dot-container {
        //   position: absolute;
        //   //   margin-top: 240px;
        //   bottom: 0;
        //   right: 0;
        //   width: fit-content;
        //   height: fit-content;
        align-items: flex-end;
        display: flex;
        //   @media (max-width: 1024px) {
        //     top: 225px;
        //   }
        //   @media (max-width: 820px) {
        //     top: 171px;
        //   }
        //   @media (max-width: 768px) {
        //     top: 157px;
        //   }
      }

      .dot1 {
        width: 55px;
        height: auto;
        //   margin-right: 350px;

        //   transition-delay: 0.2s;
        animation-delay: 0.5s;
        animation: dotFadeIn 1.5s ease-in-out infinite;
        opacity: 0;
      }

      .dot2 {
        width: 55px;
        height: auto;
        //   transition-delay: 0.2s;
        animation-delay: 1s;
        animation: dotFadeIn 1.5s ease-in-out infinite;
        opacity: 0;
        padding-left: 20px;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 70px;
      text-align: center;
      margin-left: 70px;
    }
    @media (max-width: 1200px) {
      left: 0;
    }
  }

  @keyframes dotFadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .App.animation-started .dot {
    opacity: 1;
  }
}
